.layout {
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   // border: 1px solid red;
   background-color: mix(black, white, 20%);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column
}

.iconClose {
   width: 20px;
}

.page {
   box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
   // border-radius: 10px;
}

.pdfThumbnail {
   text-overflow: ellipsis;
   overflow: hidden;
   height: 100px;
   width: 80px;
}
