@import '../../../styles/app.theme.less';

.backButton {
   position: absolute;
   left: 10px;
   top: 10px;
   height: 50px;
   cursor: pointer;
}

.editor {
   overflow: auto;
   padding-top: 50px;
   cursor: default !important;
}

.editButton {
   position: absolute;
   bottom: 20px;
   right: 25px;
   height: 50px;
   cursor: pointer;
   filter: drop-shadow( 1px 2px 3px rgba(0, 0, 0, .2));
}


// --- LIGHT ---

:global(.Light).backButton,
:global(.Light).editButton {
   fill: @light-3;
}


// --- Dark ---

:global(.Dark).backButton,
:global(.Dark).editButton {
   fill: @dark-4;
}

