@import '../../../../../styles/app.theme.less';


.imagesContainerContainer {
   height: 500px;
   overflow: auto;
}

.imagesContainer {
   width:500px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.image {
   width: 156px;
   height: 156px;
   margin: 5px;
   object-fit: cover;
   cursor: pointer;
   transition: transform 400ms ease-out;
}

.image:hover {
   z-index: 10;
   transform: scale(1.03);
}

// --- LIGHT ---

:global(.Light).upload,
:global(.Light).or,
:global(.Light).iconSearch {
   fill: @light-3;
   color: @light-3;
}
