@import '../../../../../styles/app.theme.less';

.divider {
    min-height: 1px;
    height: 1px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.focused {}

// --- LIGHT ---
:global(.Light).divider {
    background-color: mix(@light-0, @light-3, 50%);
}

:global(.Light).focused {
    border: 1px solid @light-4;
}

// --- Dark ---
:global(.Dark).divider {
    border: 1px solid @light-4;
}
