@import '../../../styles/app.theme.less';

.toolbarWrapper {
   // width: 100%;
   z-index: 1;

}

.layoutToolbar {
   height: 50px;
   transition: 300ms ease-in-out;
   display: flex;
   justify-content: center;
   align-items: center;
   // border: 1px solid red;
   // background: linear-gradient(#EEF0F1 0%, transparent 100%);
   // box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.2)

}

.container {
   z-index: 0;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 40px;
   //border: 1px solid black;
   width: 100%;
   margin-left: 5%;
   margin-right: 5%;
   // box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.2)

}

.visible {
   opacity: 1;

}

.hidden {
   margin-top: -48px;
   opacity: 0;
}

.unstyle {
   border: none;
}


.highlight {
   cursor: pointer;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   margin-left: 6px;
   margin-right: 6px;
}


.header {
   font-family: 'Nunito';
   border:none;
   background: transparent;
}

.icon {
   margin-left: 1px;
   margin-right: 1px;
   // background-color: white;
   width: 28px;
   height: 24px;
   padding: 3px 5px;
   cursor: pointer;
   transition: 100ms ease-in-out;
}

.icon:hover {
  //  background-color: @light-4;
}

.hover {

}

.separator {
   min-width: 1px;
   height: 20px;
   margin-left: 5px;
   margin-right: 5px;
   background-color: @light-2;
}

.iconCollapse {
   width: 30px;
   height: 30px;
   transform: scale(0.5, 0.5);
   fill: @light-5;
}

.fileContainer {
   overflow: hidden;
   position: relative;

}

.fileContainer [type=file] {
   cursor: pointer;
   display: block;
   opacity: 0;
   position: absolute;

}

.fileButton {
   cursor: pointer;
   font-family: @font-primary;
   font-size: 12px;
   letter-spacing: 0.1em;
   width: 55px;
   height: 20px;
   border-radius: 3px;
   background: fade(@light-3, 15%);
   color: @light-4;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5px;

}

// --- LIGHT ---
:global(.Light).separator {
   background-color: @light-2;
}
:global(.Light).layoutToolbar {
   background-color: @light-0;
}

// --- Dark ---
:global(.Dark).separator {
   background-color: @dark-3;
}

:global(.Dark).layoutToolbar {
   background-color: @dark-2;
}

// :global(.Dark).gradient {
//    background: linear-gradient(@dark-2 0%, transparent 100%);
// }
