@import '../../../styles/app.theme.less';

.footer {
   //border: 1px solid red;
   height: 22px;
   width: 100%;
   font-size: 12px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 10px;
   padding-right: 10px;
   box-sizing: border-box;
}

.wordsCount {
   font-family: @font-primary;
}

// --- LIGHT THEME ---

:global(.Light).footer {
   border-top: 1px solid @light-2;
   background-color: @light-0;
}

:global(.Light).wordsCount {
   color: @light-4;
}

// --- DARK THEME ---

:global(.Dark).footer {
   border-top: 1px solid mix(@dark-0, @dark-3, 40%);
   background-color: @dark-2;
}

:global(.Dark).wordsCount {
   color: @dark-4;
}
